/* font */

@font-face {
	font-family: 'Clash Display';
	font-style: 'normal';
	src: url('./assets/fonts/ClashDisplay-Variable.ttf') format('opentype');
}

@font-face {
	font-family: 'Exo';
	font-style: 'normal';
	src: url('./assets/fonts/Exo-VariableFont_wght.ttf') format('opentype');
}

@font-face {
	font-family: 'Work Sans';
	font-style: 'normal';
	font-weight: 400;
	src: url('./assets/fonts/WorkSans-Regular.ttf') format('opentype');
}

:root {
	--toastify-font-family: 'Exo';
}

html,
body,
#root {
	height: 100%;
}
